<form id="formProduct">
    <h2>Agregar producto en tiempo real</h2>

    <label for="title">Nombre del Producto:</label>
    <input class="controls" type="text" name="title" id="title" placeholder="Ingrese Nombre del Producto" required>

    <label for="description">Descripción:</label>
    <input class="controls" type="text" name="description" id="description" placeholder="Ingrese description" required>

    <label for="stock">Stock:</label>
    <input class="controls" type="number" name="stock" id="stock" placeholder="Ingrese su stock" required min="0">

    <label for="thumbnail">URL de la Imagen:</label>
    <input class="controls" type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url" required>

    <label for="category">Categoría:</label>
    <input class="controls" type="text" name="category" id="category" placeholder="Ingrese categoria" required>

    <label for="price">Precio:</label>
    <input class="controls" type="number" name="price" id="price" placeholder="Ingrese su precio" required min="0">

    <label for="code">Código:</label>
    <input class="controls" type="text" name="code" id="code" placeholder="Ingrese su code" required>

    <button class="botons" type="submit" id="add-btn">Registrar</button>
</form>


<div class="delete-form">
    <h2>Eliminar producto</h2>

    <label for="id-prod">ID del Producto:</label>
    <input class="controls" type="number" name="id-prod" id="id-prod" placeholder="Ingrese ID">

    <button class="botons" type="button" id="delete-btn">Eliminar</button>
</div>


<article id="list-products"></article>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>