<section class="form-container">
  <article>
    <h1>Reset Password</h1>
    <form method="POST"  class="user_form" action="" id="resetpassword">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autocomplete="off"/>
      </div>
      <div>
        <label for="newpassword">Password</label>
        <input type="password" name="newpassword" id="newpassword" autocomplete="new-password"/>
      </div>
      <button class="btn-primary">Reset Password</button>
      <p>Remember your password? <a href="/login">Sign in</a></p>
    </form>
  </article>
</section>

<script src="/js/user.js"></script>